name: Documentation

on:
  push:
    branches: [main]
    paths:
      - 'doc/**'
      - 'src/**/*.c'
      - 'src/**/*.h'
      - 'include/**'
  pull_request:
    branches: [main]
    paths:
      - 'doc/**'
      - 'src/**/*.c'
      - 'src/**/*.h'
      - 'include/**'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  get_commit_message:
    name: Get commit message
    uses: ./.github/workflows/commit_message.yml

  build:
    needs: get_commit_message
    if: needs.get_commit_message.outputs.run_docs == '1'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Doxygen
        run: sudo apt-get install -y doxygen

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Python dependencies
        run: pip install -r doc/requirements.txt

      - name: Build documentation
        working-directory: doc
        run: make html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: doc/build/html

  deploy:
    if: github.event_name == 'push'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
